<h1><%= @track.title %></h1>

<ul>
  <li><%= link_to "Edit Track", edit_album_url(@album) %></li>
  <li><%= button_to "Delete Track", album_url(@album), method: :delete %></li>
  <li><%= link_to "View All #{@album.name} Tracks", album_url(@album) %></li>
</ul>
