<!DOCTYPE html>
<html>
<head>
  <title>MusicApp</title>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <% if current_user %>
  		<h3><%= current_user.email %></h3>
  	  <%= button_to "logout", sessions_url, method: :delete %>
    <% end %>
	</header>

<%= yield %>

</body>
</html>
