ul {
  width: 900px;
  list-style: none;
}

li {
  float: left;
  width: 250px;
  height: 200px;
  border: 5px solid black;
  background-color: gray;
}

li.hovered {
  background-color: yellow;
}

li.clicked {
  background-color: white;
}

li.clicked.x {
  color: red;
}

li.clicked.o {
  color: blue;
}
