$dark-blue: #3b5998;
$medium-blue: #8b9dc3;
$gray: #dfe3ee;
$light-gray: #f7f7f7;
$white: #ffffff;
$green: #59983B;
$magenta: #983B59;

h1 {
  font-size: 40px;
  font-weight: bold;
}

.welcome-header {
  display: flex;
  background-color: $dark-blue;
  justify-content: space-around;
  align-items: center;
  color: $white;
  height: 60px;
  padding: 10px 20px 10px 20px;
}

.login-form {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  align-items: center;
}

.login-field {
  display: flex;
  flex-direction: column;
  margin: 0px 10px;
}

.login-field input[type="password"],
.login-field input[type="text"]  {
  color: black;
  padding: 3px 5px;
  box-sizing: border-box;
  border: 1px solid black;
};

.main-container {
  display: flex;
  flex-direction: row;
  background-color: $gray;
  justify-content: space-around;
  position: absolute;
  top: 60px;
  bottom: 0;
  width: 100%
}

.col-1-2 {
  width: 50%;
}

.welcome-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-form {
  display: flex;
  flex-direction: column;
}

input[type="password"],
input[type="text"] {
  background-color: $white;
}

.login-button {
  font-size: 14px;
  font-weight: bold;
  background-color: $dark-blue;
  margin-left: 10px;
  height: 25px;
  padding: 0 4px;
  border-radius: 2px;
  border: 1px solid black;
}

.signup-form input[type="password"],
.signup-form input[type="text"]  {
  color: black;
  padding: 3px 5px;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 8px;
  margin-right: 10px;
  margin-bottom: 15px;
  padding: 10px;
  width: 370px;
};

.signup-and-guest h1 {
  margin: 30px 0;
}

.signup-form .name-input input {
  width: 180px;
}

.large-button {
  color: $white;
  font-size: 18px;
  font-weight: bold;
  height: 40px;
  padding: 0 4px;
  border-radius: 2px;
  border: 1px solid black;
  width: 160px;
  text-align: center;
  margin-bottom: 15px;
}

.create-account {
  background-color: $green;
}

.guest-login {
  background-color: $magenta;
}
